.App {
  font-family: "Merriweather", serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.click-btn {
  outline: none;
  box-shadow: none;
  font-family: "Merriweather", serif;
  border: none;
  font-size: 24px;
  width: 80%;
  background-color: #a23a61;
  padding: 16px;
  border-radius: 4px;
}

.wish-btn {
  outline: none;
  box-shadow: none;
  font-family: "Merriweather", serif;
  border: none;
  font-size: 24px;
  color: #fff;
  width: 50%;
  background-color: #e26575;
  padding: 16px;
  border-radius: 4px;
}

.wishes-container {
  width: 80%;
  margin: 15px;
  padding: 24px;
}

.text-container {
  width: 80%;
  padding: 24px;
}

.hello-text {
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}
